- content_for :javascripts do
  = include_javascript :mustache
  = include_javascript "http://maps.google.com/maps/api/js?sensor=false" 
  = include_javascript :fusion_library
  = include_javascript :open_city

  :javascript
    (function() {
      var us_centroid = new google.maps.LatLng(40.413496,-88.979919);
      var tableId = "1QPBBx13LeWLlTh9WesUleaQ-zf9zWLToU-zRWM4"; // Open Data
      //var tableId = "4902990"
      var filters = [
        {"City Search":  {columns: ["city"],  type: "text"}},
        {"State Search": {columns: ["state"], type: "text"}}
      ];

      map = new Fusion.Map("template_map", {center: us_centroid, zoom: 6, mapTypeControl: true});
      var layer = map.layers.create({select: "geometry", from: tableId});
      map.present();

      filterPanel = new OpenCity.Template.FilterPanel(tableId, filters, {
        map: map, callbackObject: "filterPanel"
      });
      filterPanel.present();
    })(); 

.row-fluid
  #filters.span3

      %p< This map shows unemployment in Illinois by congressional district. The data is provided by the Illinois Department of Employment Security.
    %p< The map divides the state into the 18 Congressional districts as they appear in 2012. 
    %p< The more people who certified for benefits, the more bright the map appears. 
    %p<
      You can view the official IDES Legislative Dashboard here 
      = link_to ' See it here', 'http://www.ides.illinois.gov/page.aspx?item=3605'
    %p

  #template_map.span9

